<div class="container-fluid">
	<div class="col-md-8">
		<h3>Welcome {{thisUser.FullName}}</h3>
		<div>
			<p>Single Question</p>
			<table>
			<tr>
				<td><input type="text" class="form-control" id="singleQ" name="singleQ" ng-model="singleQ"/></td>
			</tr>
			<tr>
				<td><input type="radio" class="form-control" id="singleR" name="singleR" ng-model="singleR" /></td>
				<td><input type="text" class="form-control" id="singleA" name="singleA" ng-model="singleA" /></td>
				
			</tr>
			</table>
		</div>
		<div>
			<p>Multiple Question</p>
			<input type="text" class="form-control" id="singleQ" name="singleQ" ng-model="singleQ" />
			<input type="checkbox" class="form-control" id="multipleA" name="multipleA" ng-model="multipleA" />
		</div>
		<div>
			<p>Text Question</p>
			<input type="text" class="form-control" id="textQ" name="textQ" ng-model="textQ" />
		</div>
		<div>
			<button type="button" class="btn btn-primary" ng-click="submitEval()">submit</button>
		</div>
	</div>
</div